.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 0, 0.432);
    background-image: url(../img/cypher.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: rgb(0, 0, 0, 0.449);
    height: 100%;
    width: 100%; 
    background-position: center;
}

header{
    height: 20%;
    width: 100%;;

}
.menu-opcoes ul{
    font-size: 20px;
    color: red;
    
    
}

.menu-opcoes{
position: absolute;
top: 0;
right: 5px;

}

.menu-opcoes ul li{
    display: inline-block;
    margin-left: 20px;
    padding-left: 35px;  /*aplicar espaçamento entre as telas*/
}

#inter{
width: 10%;
height: 100%;
}


.painel{
    width: 46%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 3px 3px black;
    
}

.painel h2{
  font-size: 20px;
  text-shadow: 10px 10px black ;
}

.aula1{
    float:left;
    background-color: rgb(26, 219, 58);
    background: linear-gradient( white, rgb(107, 5, 5) );

}


.aula2{
  float: right;
  background-color: rgb(211, 205, 204);  
  background: linear-gradient(red, rgb(85, 5, 5));
}

.painel li{
    display: inline block;
    width: 10%;
    vertical-align: 2px;
    margin: 2px;
    padding-bottom: 10px;
   }

   .painel h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

   }

.painel a{
    color: red;
    font-size: 10px;
    text-align: center;
}

.social li a[href*=futebol]{
    width: 50px;
    height: 50px;
    background-image: url(../img/inter.png);
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    

}
.social li a[href*=insta]{
    width: 50px;
    height: 50px;
    background-image: url(../img/instagram.png);
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;

}

.social li a[href*=github]{
    width: 50px;
    height: 50px;
    background-image: url(../img/github-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;


}

footer{
    clear: both;
    position: absolute;
    height: 15%;
}


.social li{
    float: right;
    margin-right: 20px;
}

.menu-opçoes ul{
    font-size: 20px;
}

.menu-opçoes a{
    color: rgb(185, 19, 19);
}

.menu-opçoes a:hover{
    color: blueviolet ;
}

.menu-opçoes a:active{
    color: rgb(153, 34, 34);
}

.painel li:hover{
  box-shadow: 10px 10px rgb(163, 12, 12);
  transition: 0.7s;
  background-color: transparent;
  transform: scale(1.2) rotate(-5deg);

}

main{
    height: 65%;
}

#vava{
    width: 100px;
    height: 100px;
    padding-top: 0%;
    
}


#livro{
width: 50px;
text-align: center;
}


#pokedex{
    position: relative;
    left:  5%;
    padding-top: 70%;
    color: red;
}

#calculadora{
    width: 50px;
    text-align: center;
}

#calculadora2{
    position: relative;
    text-align: right;
}