p {
   background-color: yellow;
   color: aqua;
}                                                              /*usa-se p para puxar o paragrafo do html*/


#paragrafo1{
    background-color: red;

}