.container{
    width: 90;     /*largura*/                       
    margin-right: auto; /*definir a margem*/ 
    margin-left: auto;
    position: relative; /*basicamente deixar se movimentar*/ 
    font-size: 40px; /*tamanho da font*/ 
}

.container a[href*=inter]{ /*usado para achar a palvra inter */ 
     color: red; /*cor*/ 
}

.container a[href*=max]{
    color: black;
}

.container a[href*=github]{
    color: green;
}