body{
    background-color: aqua
}

@media screen and (min-width:480px) and (max-width:720px){ /*media scran é para definir e deixar os ite responsivo*/
   body{
    background-color: aquamarine;
   } 
}

@media screen and (min-width:720px) and (max-width:1024px){
    body{
     background-color: rgb(23, 233, 118);

    } 
 }
 

 @media screen and (min-width:1024px) and (max-width:1200px){
    body{
     background-color: aquamarine;
    } 
 }
 